annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
charset-normalizer==3.4.7
click==8.3.3
fastapi==0.136.1
fire==0.7.1
fonttools==4.62.1
h11==0.16.0
idna==3.13
lxml==6.1.0
numpy==2.4.4
opencv-python-headless==4.13.0.92
pdf2docx==0.5.13
pillow==12.2.0
pydantic==2.13.4
pydantic_core==2.46.4
PyMuPDF==1.27.2.3
PyPDF2==3.0.1
python-docx==1.2.0
python-multipart==0.0.28
reportlab==4.5.0
starlette==1.0.0
termcolor==3.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
